{% extends 'user/userbase.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h4 class="display-4 text-center">
                    Good day
                </h4>
            </div>
        </div>
    </div>


{% endblock %}