{% extends 'admin/adminbase.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h4 class="display-4 text-center">
                    Good day, admin
                </h4>
            </div>
        </div>
    </div>
    <h1>
        Good day, admin
    </h1>

{% endblock %}