{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h4 class="display-4 text-left">
                    <a class="btn btn-success" href="{{ path('admin_task_create') }}">Create new task</a><br>
                </h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-8">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters justify-content-left ">
            <div class="col-12">
                <div id="app-6" v-bind:title="message"><p><h4>[[ message ]]</h4></div>
                    <div class="container-fluid">
                        <div class="row no-gutters">
                            <div class="col-9">
                                {% include 'admin/Task/table.html.twig' %}
                            </div>
                            <div class="col-1">
                            </div>
                            <div class="col">
                                <div class="row no-gutters justify-content-right p-1 mb-2 bg-secondary text-white">
                                    <h5>Show Tasks</h5>
                                </div>
                                <div class="p-1 mb-2 bg-secondary text-white">
                                    <form name="check">
                                        <label>
                                            <input type="radio" id="Yes" name="completed" value="yes"> all completed
                                        </label></br>
                                         <label>
                                            <input type="radio" id="No" name="completed" value="no"> all not completed
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
{% endblock %}
  {% block addvue %}
        <script>
        Vue.options.delimiters = ['[[',']]'];
            var app6 = new Vue({
                el: '#app-6',
                data: {
                    message: 'All Tasks'
                }
            })

        </script>
  {% endblock %}