{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h4 class="display-4 text-left">
                    <a class="btn btn-success" href="{{ path('admin_task_create') }}">Create new task</a><br>
                </h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-8">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters justify-content-left ">
            <div class="col-12">
                <h4>All Tasks</h4>
                    <div class="container-fluid">
                        <div class="row no-gutters">
                            <div class="col-9">
                                {% include 'admin/Task/table.html.twig' %}
                            </div>
                            <div class="col">
                                <div class="row no-gutters justify-content-center">
                                    <h5>Show</h5>
                                </div>
                                <div class="row no-gutters justify-content-center">
                                    <button class="btn btn-success btn-sm mr-3" id="btn_orderyes">All completed</button>
                                    <button class="btn btn-success btn-sm" id="btn_orderno">All not completed</button>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>


{% endblock %}