{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h4 class="display-4 text-left">
                    <a class="btn btn-success" href="{{ path('admin_task_create') }}">Create new task</a><br>
                </h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-8">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h2>All Tasks</h2>
                <ul>
                    {% for task_item in task %}
                        <li>{{ task_item.content }} <a class = "btn-link" href="{{ path('admin_task_update', {'id':task_item.id}) }}">Update</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>


{% endblock %}